.btn-up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  background-color: $secondary-color;
  color: #fff;
  padding: 10px 10px 7px 11px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  z-index: 20;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;

  @media (max-width: 560px) {
    bottom: 10px;
    right: 20px;
  }

  &.scroll-btn {
    opacity: 1;
  }

  & > img {
    filter: invert(1);
    max-width: 20px;
  }
}
