.calendar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__img {
        &--desktop {
            margin-bottom: 25px;

            &>img {
                max-width: 100%;
                padding: 0 24px;
            }
        }

        &--mobile {

            &>img {
                max-width: 100%;
                padding: 0 24px;
            }
        }
    }

    &__text {

        &__first,
        &__second {
            font: 400 24px/20px $robotoBold
        }

        &__first {
            margin: 3px 0 16px;
        }

        &__second {
            margin-bottom: 50px;
        }
    }
}


@media(min-width: 1024px) {
    .calendar {
        &__img {
            &--desktop {
                margin-bottom: 66px;

                &>img {
                    padding: 0 74px;
                }
            }

            &--mobile {

                &>img {
                    max-width: 708px;
                    padding: 0;
                }
            }
        }

        &__text {
            &__second {
                margin-bottom: 141px;
            }
        }
    }

}