
.description {
    width: 410px;
    background-color: #DD0F11;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 0 22.14px;
    margin: auto;
    position: relative;
    display: inline-block;
    
    &>p{
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.48px;
        text-align: center;
        margin-bottom: 8.45px;
    }

    &>img{
        width: 119.14px;
        height: 39.41px;
    }

    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 52.5px solid transparent;
        border-right: 52.5px solid transparent;
        border-top: 38px solid #DD0F11; /* Cambia el color según necesites */
    }

    &.scroll{
        width: 419px;
        padding: 23px 0 26.15px;
        display: flex;

            &>img{
                width: 181.8px;
                height: 33.85px;
            }
        
    }
}


@media(max-width: 640px){
    .description{
        width: 300px;
        padding: 15px 10px 13px;

        &>p{
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.4px;
            margin-bottom: 8.45px;
        }

        &>img{
            width: 80px;
            height: 26.46px;
        }

        &::after{
            border-left: 25.5px solid transparent;
            border-right: 25.5px solid transparent;
            border-top: 18px solid #DD0F11; /* Cambia el color según necesites */
        }

        &.scroll{
            width: 280px;

            &>img{
                width: 100px;
                height: 18.62px;
            }
        }
    }
}