.fixture {
    max-width: 350px;
    padding: 0 10px;
    margin: 27px auto;

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 33px;
        opacity: 0;
        animation: scrollReveal linear forwards;
        animation-timeline: view();
        animation-range: 250px 350px;
    }

    &__date {
        width: 100%;
        color: $secondary-color;
        display: flex;
        margin: 0 auto 7px;
        border-bottom: 4px solid $secondary-color;

        &>p {
            width: 161px;
            height: 22px;
            font: $normal 16px/13px $preloBold;
            color: white;
            text-align: center;
            padding-top: 8px;
            margin: 0px auto;
            background-color: $secondary-color;
            text-transform: uppercase;
        }
    }

    &__match {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $primary-color;
        padding: 8px 0 4px;

        &__home,
        &__away {
            width: 35%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;

            &>p {
                font: $normal 12px/13px $preloBold;
                color: $primary-color;
            }

            &:hover {
                cursor: pointer;
                background: $bg-other;
                border-radius: 10px;
            }

            &.active {
                background: $secondary-color;
                border-radius: 10px;
                animation: scaleAnimation 1s ease-in-out infinite alternate;

                &>p {
                    color: #fff;
                }
            }
        }

        &__versus {
            width: 30%;
            text-align: center;
            font: $normal 12px/13px $preloBold;
            color: $secondary-color;
            margin: auto;
        }

        &__away {
            justify-content: flex-end;

            &>p {
                text-align: end;
            }
        }

        &__icon {
            width: 19px;
        }
    }

    &__rest {
        font: $normal 12px/13px $preloBold;
        text-transform: uppercase;
        margin-top: 14px;
    }
}



@media(min-width: 640px) {
    .fixture {
        max-width: 578px;
        padding: 0;
    }
}


@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.35);
    }
}

@keyframes scrollReveal {
    to {
        opacity: 1;
    }
}