.header {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 29px;

    &__title {
        font: $bold 30px/31px $suseBold;
        letter-spacing: -0.75px;
        text-shadow: 0px 3px 6px #000000C9;
        color: $secondary-color;        
        text-align: center;
        margin-bottom: 9px;
    }

    &__first-icon {
        width: 144px;
        height: 119px;
        margin-bottom: 5px;
    }

    &__second-icon {
        width: 300px;
        height: 73.22px;
        margin-bottom: 10px;
    }

    &__epigraph {
        font: $normal 17px/19px $suseMedium;
        color: #fff;
        letter-spacing: -0.42px;
        text-align: center;
        margin: 0 10px;
    }
}

@media(min-width:640px) {
    .header {
        max-width: 475px;
    }
}