.header {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  &__title {
    font: $medium 40px/45px $drukWide;
    color: $secondary-color;
    font-style: italic;
  }

  &__second-icon {
    width: 300px;
    height: 104px;
    margin-bottom: 10px;
  }

  &__epigraph {
    font: $normal 14px/20px $preloMedium;
    text-align: center;
    margin: 0 10px;
    color: #000;
  }
}

@media (min-width: 640px) {
  .header {
    max-width: 475px;
    margin-top: 30px;

    &__title {
      font-size: 56px;
      line-height: 59px;
    }

    &__second-icon {
      width: 652px;
      height: 227px;
      margin-bottom: 15px;
    }

    &__epigraph {
      height: 96px;
      font-size: 22px;
      line-height: 31px;
      margin: 0;
    }
  }
}
