.header {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    &__title {
        font: $medium 40px/45px $drukWide;
        color: $secondary-color;
        font-style: italic;
    }

    &__first-icon {
        width: 120px;
        height: 56px;
    }

    &__second-icon {
        width: 300px;
        height: 73.22px;
        margin-bottom: 10px;
    }

    &__epigraph {
        font: $normal 14px/20px $preloMedium;
        text-align: center;
        margin: 0 10px;
    }

    &__dt{
        position: absolute;
        top: 0;
        right: 24px;
        width: 80px;
    }
}

@media(min-width:640px) {
    .header {
        max-width: 475px;
        margin-top: 36px;

        &__title {
            font-size: 56px;
            line-height: 59px;
        }

        &__first-icon {
            width: 210px;
            height: 98px;
            margin-bottom: 7px;
        }

        &__second-icon {
            width: 377px;
            height: 92px;
            margin-bottom: 13px;
        }

        &__epigraph {
            height: 220px;
            font-size: 15px;
            line-height: 18px;
            margin: 0;
        }

        &__dt{
            width: 125px;
            right: 0;
        }
    }
}