.killers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 151px;
    gap: 171px;

    &__container {
        width: 100%;
        max-width: 738px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text{
        color: #fff;
        width: 250px;
        background-color: #DD0F11;
        padding: 5px 0 5px;
        text-align: center;
        position: relative;
        display: inline-block;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: -0.48px;
        margin-bottom: 40px;

        &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 18px solid #DD0F11; /* Cambia el color según necesites */
        }
    }
}

@media(max-width:640px){
    .killers{
        margin-top: 40px;
        gap: 80px;
        margin-bottom: 80px;

        &__container{
            padding: 0 15px;
        }
    }
}


.btn-up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    opacity: 0;
    padding: 10px 10px 7px 11px;
    border-radius: 20px;
    transition: .3s ease-in-out;

    &.scroll-btn {
        opacity: 1;
    }

    &>img {
        max-width: 50px;
    }
}