.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  
    .image-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
  
      img {
        width: 419px;
        height: auto;
        object-fit: cover;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
  
      .active {
        opacity: 1;
      }
    }
  
    .nav {
      width: 40px;
      height: 40px;
      position: absolute;
      color: #000;
      background: #fff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 45px;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .left {
      left: 100px;
      z-index: 100;
    }
  
    .right {
      right: 100px;
      z-index: 100;
    }
  }
  

  @media(max-width: 640px){
    .carousel{
      .left{
        left: 10px;
      }

      .right{
        right: 10px;
      }
    }
  }