.selector {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto;
    padding: 0 20px;
    gap: 20px;

    &__select {
        width: 100%;
        height: 34px;
        background: #fff;
        border-radius: 10px;
        padding: 0 5px;
        color: black;
    }

    &__button {
        width: 100%;
        height: 34px;
        border-radius: 10px;
        background: $secondary-color;
        color: #fff;
    }

    &__message {
        font: $normal 12px/13px $preloBold;
        text-align: center;        
    }

    &.page-2 {
        justify-content: center;
    }
}

@media (min-width:640px) {
    .selector {
        flex-direction: row;
        justify-content: center;
        max-width: 475px;
        padding: 0;
        margin-top: 0px;
        gap: 0;

        &__select {
            width: 212px;
        }

        &__button {
            width: 155px;
        }

        &.page-2 {
            margin-top: 13px;
        }
    }
}