.table-country{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    position: relative;
    &__button{
        max-width: 340px;
        width: 100%;
        height: 38px;
        background: #fff;
        box-shadow: 0px 5px 5px #00000029;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        &__description {
            display: flex;
            align-items: center;            

            &>img{
                position: relative;
                left: -10px;
            }
        }

        &__svg {
            position: relative;
            right: 10px;
        }

        &__text {
            font: $bold 20px/19px $suseBold;
            letter-spacing: -0.5px;
            text-align: left;

            &>span{
                font-weight: $normal;
                font-family: $suseMedium;
            }
        }
    }

    &__teams {
        max-width: 340px;
        width: 100%;
        background: #3B3B3B;
        border: 1px solid #707070;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 11px;        
        position: relative;
        bottom: 38px;
        z-index: 0;

        &__row{
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 5px 10px;

            &>img{
                width: 31px;
                height: 31px;
            }

            &__points{
                width: 100%;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #fff;
                justify-content: space-between;
                font: $normal 12px/15px $suseMedium;
                color: #fff;

                &>span{
                    color: #F2C261;
                }
            }
        }
    }
}

@media(min-width:640px) {
    .table-country{
        &__button{
            max-width: 425px;
        }

        &__teams{
            max-width: 415px;

            &__row{
                &__points{
                    font-size: 15px;
                    line-height: 19px;
                }
            }
        }
    }
}