.table-teams{
    max-width: 673px;
    width: 100%;
    margin: auto;    

    &__spinner{
        max-width: 673px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    &__container{
        overflow-x: auto;
        padding: 0 10px;    
    }

    &__thead{
        position: sticky;
        top: 10px;
    }

    &__item{        
        box-shadow: inset 0 -1px 0 #fff;
        padding-bottom: 10px;

        &__column{
            background: #fff;
            letter-spacing: -0.25px;
            color: #000;

            &.points{
                background: #F2C261;
            }
            
            &__button{
                font: $normal 10px/15px $suseMedium;
                display: flex;
                align-items: center;
                gap: 5px;
                &>p{
                    width: 46px;
                    color: #000;
                }
                &>svg{
                    width: 10px;
                    height: 18px;
                }
            }
        }

        &__number{
            font: $normal 15px/19px $suseMedium;
            letter-spacing: -0.38px;
            color: $secondary-color;
            text-align: center;
        }
        
        &__team{
            display: flex;
            align-items: center;
            gap: 7px;
            
            &>img{
                width: 15px;
                height: 15px;
            }

            &__name{
                font: $normal 12px/15px $suseMedium;
                letter-spacing: -0.35px;
                color: #fff;

                &>p{
                    text-transform: uppercase;
                }

                &>span{
                    font-size: 15px;
                    letter-spacing: -0.38px;
                    color: $secondary-color;
                }
            }
        }

        &__row{
            font: $normal 12px/15px $suseMedium;
            letter-spacing: -0.5px;
            color: #fff;
            text-align: center;

            &.points{
                color: $secondary-color;
            }
        }
    }
}


@media(min-width:640px) {
    .table-teams{
        &__scroll-icon{
            display: none;
        }

        &__item{

            &__row{
                font-size: 20px;
                line-height: 19px;
            }

            &__team{

                &__name{
                    font-size: 14px;
                    line-height: 19px;
                }
                &>img{
                    width: 31px;
                    height: 31px;
                }
            }
        }
    }

}

@media(max-width:640px){
    .table-teams{
        display: flex;
        flex-direction: column;

        &__thead{
            display: flex;
            justify-content: end;
        }

        &__item{
            &__column{
                &__button{

                    &>svg{
                        width: 5px;
                        height: 12px;
                    }
                }
            }
            &__team {
                gap: 4px;
                max-width: 140px;
            }
            &__number{
                font-size: 10px;
            }
        }
    }

    

    thead {
        margin: 0 16px;
        &>tr{
            display: flex;
            justify-content: end;            

            &>th{                
                &:first-child{
                    width: 0;
                }

                &:nth-child(2){
                    width: 0;
                }

                &:nth-child(3){
                    width: 42px;
                    &>button{
                        &>p{
                            width: 28px;
                        }
                    }
                }

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7){
                    width: 28px;
                    &>button{
                        gap: 0;
                        &>p{
                            width: 14px;
                        }
                    }
                }

                &:nth-child(8){
                    width: 28px;
                    &>button{
                        gap: 0;
                        &>p{
                            width: 22px;
                            font-size: 8px;
                        }
                    }
                }
                &:nth-child(9){
                    width: 43px;
                    &>button{
                        gap: 0;
                        &>p{
                            width: 36px;
                            font-size: 8px;
                        }
                    }
                }
                width: 28px;
            }
        }
    }

    tbody{
        margin: 0 16px;

        &>tr{
            display: flex;
            width: 100%;
            justify-content: end;
            &>td{
                margin: auto 0;
                padding: 0;
                &:nth-child(1){
                    
                    padding: 5px 4px;
                }
                &:nth-child(2){
                    flex: 1 1;
                    width: 120px;
                    padding: 5px 4px;
                }

                &:nth-child(3){
                    width: 38px;
                }

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),{
                    width: 28px;                    
                }

                &:nth-child(9){
                    width: 43px;
                }

            }
        }}
}