.table-teams{
    max-width: 673px;
    width: 100%;
    margin: auto;    

    &__container{
        overflow-x: scroll;
        padding: 0 10px;
    }

    &__scroll-icon{
        display: flex;
        font: $normal 10px/19px $suseMedium;
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    &__item{        
        box-shadow: inset 0 -1px 0 #fff;
        padding-bottom: 10px;

        &__column{
            background: #fff;
            letter-spacing: -0.25px;
            color: #000;

            &.points{
                background: #F2C261;
            }
            
            &__button{
                font: $normal 10px/19px $suseMedium;
                display: flex;
                align-items: center;
                gap: 5px;
                &>p{
                    width: 46px;
                }
                &>svg{
                    width: 10px;
                    height: 18px;
                }
            }
        }

        &__number{
            font: $normal 15px/19px $suseMedium;
            letter-spacing: -0.38px;
            color: $secondary-color;
            text-align: center;
        }
        
        &__team{
            display: flex;
            align-items: center;
            gap: 7px;
            
            &>img{
                width: 20px;
                height: 20px;
            }

            &__name{
                font: $normal 12px/15px $suseMedium;
                letter-spacing: -0.35px;
                color: #fff;

                &>p{
                    text-transform: uppercase;
                }

                &>span{
                    font-size: 15px;
                    letter-spacing: -0.38px;
                    color: $secondary-color;
                }
            }
        }

        &__row{
            font: $normal 12px/15px $suseMedium;
            letter-spacing: -0.5px;
            color: #fff;
            text-align: center;

            &.points{
                color: $secondary-color;
            }
        }
    }
}


@media(min-width:640px) {
    .table-teams{
        &__scroll-icon{
            display: none;
        }

        &__container{
            overflow: auto;
            padding: 0;
        }
        &__item{

            &__row{
                font-size: 20px;
                line-height: 19px;
            }

            &__team{

                &__name{
                    font-size: 14px;
                    line-height: 19px;
                }
                &>img{
                    width: 31px;
                    height: 31px;
                }
            }
        }
    }

}