.teams{
    padding-top: 261px;

    &__text{
        max-width: 634px;
        font-size: 28px;
        line-height: 41px;
        letter-spacing: -0.84px;
        margin: 59px auto 65px;
        text-align: center;
        color: #fff;
    }
}