.teams{
    padding-top: 261px;

    &__text{
        max-width: 634px;
        font-size: 28px;
        line-height: 41px;
        letter-spacing: -0.84px;
        margin: 59px auto 65px;
        text-align: center;
        color: #fff;
    }
}


@media(max-width:640px){
    .teams{
        padding-top: 35px;

        &__text{
            font-size: 20px;
            line-height: 20px;
            margin: 35px 15px 35px;
        }
    }
}