.video-section {
    width: 100%;
    height: min(100vh, calc(100vw * 9 / 16));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &__arrow{
        position: absolute;
        margin-top: 700px;
        &>img{
            width: 67.67px;
            height: 33.46px;
        }
    }

    &__text{
        display: none;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media(max-width:640px){
    .video-section{
        height: 780px;
    }
}

@media(min-width:640px) and (max-width:1024px){
    .video-section{
        &__arrow{
            margin-top: 500px;
        }
    }
}