/** ----------------------------*
*           NORMALIZE           *
* ----------------------------- */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: $preloMedium;
    color: $primary-color;
}

html,
body {
    background-color: #000;
    background-image: url("https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales/goleadores-liga-1-especial-dt/img/background.png");
    background-repeat: repeat-y;
    background-size: 100% auto; 
    background-position: top 3240px center;
}

@media(max-width:640px){
    html,
    body{
        background-position: top 2400px center;
    }
  }
  

html,
body,
button,
div,
span,
iframe,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
address,
img,
small,
strong,
b,
u,
i,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
menu,
nav,
section,
summary,
time,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

a,
button,
[type="button"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: inherit;
    border-style: none;
    background-color: transparent;
}

address {
    font-style: normal;
}

.react-share__ShareButton {
    display: flex;
}